POSTGRES_USER=postgres_user_name
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=db_name
POSTGRES_HOST_PORT=5433
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_HOST_PORT}/${POSTGRES_DB}?schema=public

JWT_SECRET=MY_COOL_JWT_SECRET

SERVER_PORT=3000

VITE_API_BASE_URL=http://localhost:3000/api
